body{
    max-height: 100vh;
    background-color: #1d3254;
    text-align: center;
}

#title{
    color: goldenrod;
}

.carousel{
    height: 80vh;
}

.carousel-item{
    background-color: rgb(190, 190, 190);
}

.project-title{
    color: #1d3254;
}