body {
    text-align: center;
    background-color: #1d3254;
}

h3{
    color: rgb(15,157,88);
}

p{
    color: white;
    font-size: 20px;
}


button{
    background-color: rgb(15,157,88);
    width: 500px;
    height: 100px;
    font-size: 25px;
    font-weight: 500;
    margin: 30px 0;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}

button:visited{
    border: none;
}

button:active{
    background-color: rgb(15,157,88);
}



#back{
    position: absolute;
    top: 25px;
    left: 25px;
}

#title1{
    color: white;
    margin-top: 50px;
}

#title2{
    color: white;
}

#btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#project-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

