:root {
    font-size: 16px;
    font-family: Poppins, 'Georgia','Times New Roman', Times, serif;
    --text-primary: black;
    --text-secondary: #e1eb34;
    --bg-primary: white;
    --bg-secondary: #4C8BF5;
    --google-red: #ff3e30;
    --google-green: #1aa260;
    --google-blue: #176bef;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #dddddd;
}

#screen1 {
    min-height: 100vh;
    background-color: var(--google-blue);
    color: white;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 5%;
}

.nav a:hover {
    color: #e1eb34;
}

.hello {
    font-size: 7.5rem;
}

.head-container {
    z-index: -2;
    margin: 15vw auto;
    width: 70vw;
    height: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 60vw;
    height: 75vw;
    background-color: hsl(36, 81%, 72%);
    border-radius: 70% 70% 80% 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vw solid  hsl(19, 46%, 68%);
}

.eyes, .brows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 36vw;
}

.brows {
    animation: brow-movement 2s infinite;
}

.eye {
    background-color: white;
    width: 12vw;
    height: 7.5vw;
    border-radius: 100%;
    border-top: 1vw solid hsl(19, 46%, 68%);
    border-bottom: 1vw solid hsl(19, 46%, 68%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.eye::before {
    content: '';
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    background-color: #85ABCE;
    border-radius: 100%;
    animation: eye-movement 2s infinite;
}

.eye::after {
    content: '';
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: black;
    border-radius: 100%;
    animation: pupil-movement 2s infinite;
}

.nose {
    position: absolute;
    width: 7vw;
    height: 7vw;
    border: 0.75vw solid hsl(19, 46%, 68%);
    border-radius: 0% 0% 100% 100%;
    border-top: none;
    margin-top: 20vw;
}

.brow {
    width: 12vw;
    height: 6vw;
    border-top: 1.5vw solid hsl(27, 33%, 28%);
    border-radius: 100%;
    margin-bottom: 7.5vw;
}

.mouth {
    position: absolute;
    width: 20vw;
    height: 5vw;
    background-color: white;
    border-radius: 30% 30% 100% 100%;
    margin-top: 45vw;
    border-bottom: 1vw solid hsl(19, 46%, 58%);
    border-top: .75vw solid hsl(19, 46%, 58%);
    animation: mouth-movement 2s infinite;
}

.ears {
    position: absolute;
    width: 67.5vw;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.ear {
    width: 5vw;
    height: 15vw;
    background: hsl(36, 81%, 72%);
    border-radius: 0 160% 160% 0;
}

.ear:first-child {
    border-radius: 160% 0 0 160%;
    border-left: .5vw solid  hsl(19, 46%, 68%);
    transform: rotate(-5deg);

}

.ear:last-child {
    border-right: .5vw solid  hsl(19, 46%, 68%);
    transform: rotate(5deg);
}

.hair {
    z-index: 5;
    position: absolute;
    width: 60vw;
    height: 25vw;
    background-color: hsl(27, 33%, 28%);
    margin-bottom: 60vw;
    border-radius: 80% 20% 0 0;
}

.hair::before,
.hair::after {
  content: '';
  position: absolute;
  background-color: hsl(27, 33%, 28%);
  height: 22.5vw;
  width: 2vw;
  border-radius: 0 0 25% 25%;
  transform: translateY(100%);
}

.hair::before {
    left: 0;
  }

.hair::after {
  right: 0;
}

.hair-corner {
    position: absolute;
    width: 100%;
}
  
.hair-corner::before,
.hair-corner::after {
    content: '';
    position: absolute;
    width: 2vw;
    height: 5vw;
    transform: rotate(45deg);
    background-color: hsl(27, 33%, 28%);
    top: 22.5vw;
    left: 1.5vw;
}
  
.hair-corner::after {
    left: initial;
    right: 1.5vw;
    transform: rotate(-45deg);
}

@keyframes mouth-movement {
    0% {
        border-radius: 0% 0% 100% 100%;
        height: 5vw;
    }
    50% {
        border-radius: 30% 30% 100% 100%;
        height: 6vw;
    }
    100% {
        border-radius: 0% 0% 100% 100%;
        height: 5vw;
    }
}

@keyframes brow-movement {
    0% {
        margin-bottom: 0vw;
    }
    50% {
        margin-bottom: 2vw;
    }
    100% {
        margin-bottom: 0vw;
    }
}

@keyframes eye-movement {
    0% {
        margin: 0 0 1vw 2vw;
    }
    50% {
        margin: 0 0 .5vw 1vw;
    }
    100% {
        margin: 0 0 1vw 2vw;
    }
}

@keyframes pupil-movement {
    0% {
        margin: 0 0 2.5vw 3vw;
    }
    50% {
        margin: 0 0 1.25vw 1.5vw;
    }
    100% {
        margin: 0 0 2.5vw 3vw;
    }
}

.info {
    font-size: 1rem;
}

#screen2 {
    min-height: 100vh;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    background-color: var(--google-red);
    color: white;
    font-size: 1.5rem;
    padding: 2.5vh;
    margin: 0% 0% 5% 0%;
}

.content {
    position: relative;
    text-align: center;
}

.info {
    font-size: 1rem;
    margin: 10% 7.5%;
}

.code {
    width: 80%;
    height: auto;
    border-radius: 10px;
}


.world {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.quote {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 30px;
}

#screen3 {
    min-height: 100vh;
    margin: 0 auto;
}

.title2 {
    display: flex;
    justify-content: center;
    background-color: var(--google-green);
    color: white;
    font-size: 1.5rem;
    padding: 5%;
    margin: 0 0 10% 0;
}

.cube {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    margin: 20% 0px;
    width: 60vw;
    height: 60vw;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-container .swiper-slide .imgBx {
    position: absolute;
    width: 60vw;
    height: 60vw;
}

.swiper-container .swiper-slide .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container .swiper-slide .cube-content {
    position: absolute;
    bottom: 0;
    height: 15vw;
    width: 100%;
    background: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.swiper-container .swiper-slide .cube-content h2 {
    font-size: 1.25rem;
}

.swiper-container .swiper-slide .cube-content span{
    color: #176bef;
    font-size: .75rem;
    padding: 0px 10px;
}

#screen4 {
    min-height: 100vh;
    margin: 0 auto;
}

.title3 {
    display: flex;
    justify-content: center;
    background-color: var(--google-blue);
    color: white;
    font-size: 1.5rem;
    padding: 5%;
    margin: 0px 0px 7.5% 0px;
}

#title-Tag-Line {
    font-size: 20px;
  }
.wrapper {
    margin: 25% 0;
}

.form {
    background-color: #ccc;
    border-radius: 5px;
    max-width: 480px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    animation: bounce 2.5s infinite;
}
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }

.pageTitle{
    font-size: 1.25em;
    font-weight: bold;
}
  
.name {
    background-color: #ebebeb;
}
.name:hover {
    height: 30px;
    width: 300px;
    transition: ease 0.5s;
}
  
.email {
    background-color: #ebebeb;
    height: 2em;
}
  
.email:hover {
    height: 30px;
    width: 300px;
    transition: ease 0.5s;
}
  
.message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
}
  
.message:hover {
    height: 12em;
    width: 300px;
    transition: ease 0.5s;
}
  
.formEntry {
    display: block;
    margin: 30px auto;
    min-width: 250px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}
  
.submit {
    width: 100px;
    color: white;
    background-color: var(--google-blue);
    font-size: 20px;
}
  
.submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 200px;
    border-radius: 0%;
}

.backToTop {
    display: flex;
    justify-content: center;
    color: black;
    font-size: .75rem;
    text-decoration: none;
    margin-top: 85vh;
}

.backToTop:hover {
    color: #176bef;
}

  
@keyframes bounce {
    0% {
        tranform: translate(0, 5px);
    }
    25% {
        tranform: translate(0, 10px);
    }
    50% {
        transform: translate(0, 20px);
    }
}

@media only screen and (min-width: 768px){
    .nav a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    } 

    .hello {
        margin: 0 auto;
        font-size: 12.5rem;
    } 

    .profile-pic {
        width: 70%;
        height: auto;
        margin: 0vh 0vw 5vh 0vw;
    }

    .info {
        margin: 0 auto;
        padding: 0vh 10vw 10vh 10vw;
        font-size: 1rem;
    }

    .title {
    display: flex;
    justify-content: center;
    background-color: var(--google-red);
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    margin: 0% 0% 5% 0%;
}
}





