:root {
    font-size: 16px;
    font-family: Poppins, 'Georgia','Times New Roman', Times, serif;
    --text-primary: black;
    --text-secondary: #e1eb34;
    --bg-primary: white;
    --bg-secondary: #4C8BF5;
    --google-red: #ff3e30;
    --google-green: #1aa260;
    --google-blue: #176bef;
}

html, body {
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.screen1 {
    height: 100vh;
    background-color: var(--google-blue);
    color: white;
}

.name {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
}

.main {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hello {
    font-size: 7.5rem;
}

.info {
    font-size: 1rem;
}




